.list-group-item {
  line-height: 2.5;
}


body{
  /* min-height: 2000px; */
  background-image: url("../images/background.png");
  /* background-size: cover; */
}

#started {
  height: 200px;
  width: 500px;
}

blockquote {
  border-left: 5px solid #26a59a;
}