<!-- Container div -->
<div class="container">
    <hr>

    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/images/cake.jpg">
                <div class="caption center-align">
                    <h3>Let Findtography help you find the perfect photographer!</h3>
                    <h5 class="white-text text-lighten-3">We make it easy.</h5>
                </div>
            </li>
            <li>
                <img src="/images/table.jpg">
                <div class="caption left-align">
                    <h3>Tell us exactly what you're looking for, and we'll find you the perfect match.</h3>
                    <h5 class="white-text text-lighten-3">Just answer a few simple questions.</h5>
                </div>
            </li>
            <li>
                <img src="/images/ceremony.jpg">
                <div class="caption right-align">
                    <h3>Findtography makes it easy to find a photographer that suits your needs.</h3>
                    <h5 class="white-text text-lighten-3">A perfect match!</h5>
                </div>
            </li>
        </ul>
    </div>

    <hr>

    <div class="center-align">
        <img id="started" class="center-align" src="/images/started.png">
    </div>


    <div class="row center-align">

        <a id="looking" class="col s6 hoverable waves-effect waves-light btn-large"><i
                class="material-icons right">search</i>I'm
            looking for a photographer.</a>

        <a id="photographer" class="col s6 hoverable waves-effect waves-light btn-large"><i
                class="material-icons right">camera_alt</i>I
            am a photographer.</a>

    </div>

    <div id="questions"></div>




    <!--/Container div -->
</div>

<!--your code end-->