<div class="parallax-container">
    <div class="parallax"><img src="/images/table.jpg"></div>


    <div class="container responsive-table z-depth-5 hoverable">
        <div class="section white">
            <table class="highlight">
                <thead>
                    <tr>

                        <th>
                            <h4>Business Name</h4>
                        </th>
                        <th>
                            <h4>City</h4>
                        </th>
                        <th>
                            <h4>State</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {{#each results}}
                    <tr>
                        <td>{{username}}</td>
                        <td>{{city}}</td>
                        <td>{{state}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>