<div class="container responsive-table">
    <table class="highlight">
        <thead>
            <tr>
           
                <th>Name</th>
                <th>Experience</th>
                <th>Avg. Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <li>{{firstname}}</li>
            {{/each}}

            <tr>
                <td><img src="#" alt="photographers-portrait" class="circle responsive-img"></td>
                <td>Pillsbury Doughboy</td>
                <td>5+ years</td>
                <td>$</td>
            </tr>
            <tr>
                <td><img src="#" alt="photographers-portrait" class="circle responsive-img"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>