<div class="parallax-container">
    <div class="parallax"><img src="/images/leaves.jpg"></div>
    <!-- Container div -->
    <div class="container z-depth-5 hoverable">

        <div class="section white">
            <div class="row container">

                <h2 class="header">Sign In</h2>
                {{#if error}}
                <div class="chip" style="color:#d9534f;">
                    {{error}}
                    <i class="close material-icons">close</i>
                </div>
                {{/if}}

                <div>
                    <form id="signin" name="signin" method="POST" action="signin">
                        <label for="email">Email Address</label>
                        <input class="text" name="email" type="text" />
                        <label for="password">Password</label>
                        <input name="password" type="password" />
                        <input class="btn" type="submit" value="Sign In" />
                    </form>
                    <p><a href="/signup">Register</a></p>
                    <div style="margin-bottom: 50px;">&nbsp;</div>
                    

                    <!-- Closing container div -->
                </div>
            </div>
        </div>
    </div>
</div>