<div class="parallax-container">
    <div class="parallax"><img src="/images/flowers.jpg"></div>
    <div class="container z-depth-5 hoverable">
        <div class="section white">
            <div class="row container">
                <h2 class="header">Sign Up</h2>
                {{#if error}}
                <div class="chip" style="color:#d9534f;">
                    {{error}}
                    <i class="close material-icons">close</i>
                </div>
                {{/if}}
                <div>
                    <form id="signup">
                        <label for="email">Email Address</label>
                        <input class="text" name="email" type="email" />
                        <label for="password">Password</label>
                        <input name="password" type="password" />
                        <input id="signupbtn" data-target="modal1" class="btn modal-trigger" type="submit"
                            value="Sign Up" />
                    </form>
                    <div style="margin-bottom: 50px;">&nbsp;</div>
                    </label>
                </div>

            </div>
            <!-- Closing container div -->
        </div>
    </div>
</div>