<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Atma' rel='stylesheet'>
    <link rel="stylesheet" href="styles/styles.css">
    <title>Findtography</title>

</head>

<body>
    <nav class="teal lighten-2">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"> Findtography</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="home"><a href="/">Home</a></li>

                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}

    <footer class="page-footer teal lighten-2">
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2019
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>


    <!-- link to JS -->

    <!-- Compiled and minified CSS -->


    <!-- Compiled and minified JavaScript -->

    <!--Import jQuery before materialize.js-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/index.js"></script>


</body>

</html>